.rating-form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }
  
  .rating-item {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .rating-item label {
    flex: 1;
    font-weight: bold;
  }
  
  .star-rating {
    display: flex;
    cursor: pointer;
  }
  
  .star {
    font-size: 24px;
    color: gray;
    transition: color 0.2s;
  }
  
  .star.filled {
    color: gold;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
  .next-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 260px;
    margin-bottom: 50px;
  }
  .previous-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .button-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-evenly; /* Space out the buttons if needed */
    margin-top: 20px; /* Optional: add some spacing from the top */
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .rating-options {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 5px 0;
    cursor: pointer;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-top: 30px;
    margin-left: 0px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Optional: spacing between label and input */
  }

  label {
    margin-bottom: 5px; /* Space between label and input */
  }

  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ebebc4; /* Light background color */
    color: #333; /* Text color */
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }